.btn {
  height: 48px;
  width: 100%;
  padding: 12px auto;
  border-radius: 60px;
  font-size: 20px;
  cursor: pointer;

  &-primary {
    color: #071618;
    border: 2px solid #40945d;
    box-shadow: 0px 0px 8px 0px #4e823a;
    background: linear-gradient(
      142deg,
      #8abf77 0%,
      #becf6b 46.05%,
      #63bc44 100%,
      #8abf77 100%
    );
  }
}
