<div class="dropdown">
  <div class="label">{{ label | titlecase }}:</div>
  <div
    class="selected-option"
    (click)="toggleDropdown()"
    (keydown.enter)="toggleDropdown()"
    (keydown.space)="toggleDropdown()"
    tabindex="0"
  >
    {{ selectedOption || placeholder }}
    <img class="icon" src="assets/icons/chevron-down.svg" alt="dropdown icon" />
  </div>

  <div
    class="options"
    [ngClass]="{
      'fade-transition': isDropdownOpen,
      'fade-transition-hidden': !isDropdownOpen
    }"
  >
    <div
      class="option"
      *ngIf="allowUnselect || true"
      (click)="selectOption(null)"
      (keydown.enter)="selectOption(null)"
      (keydown.space)="selectOption(null)"
      tabindex="0"
    >
      Unselect
    </div>
    <div class="divider"></div>
    <div
      class="option"
      *ngFor="let option of options"
      (click)="selectOption(option)"
      (keydown.enter)="selectOption(option)"
      (keydown.space)="selectOption(option)"
      tabindex="0"
    >
      {{ option }}
    </div>
  </div>
</div>
