.card-container {
  width: calc(50% - 8px);
}

// Responsive for Tablets and Desktops/Laptops (not mobile)
@media screen and (min-width: 768px) {
  section { gap: 32px }

  .card-container { width: calc(25% - 24px) }
}

#main-container {
  max-width: 960px;
  padding: 0 16px;
  margin: auto;
}

.btn-load-more {
  max-width: 440px;
}
