<div class="d-flex-center w-100">
  <img class="header__logo w-100" src="assets/logo.png" alt="logo rick and morty">
</div>

<div class="d-flex-center">
  <app-search-input class="w-100"></app-search-input>
  <app-small-button>
    <img class="icon" src="assets/icons/filter.svg" alt="filter icon">
  </app-small-button>
</div>

<div class="d-flex-center">
  <p class="w-100">results:</p>
  <p>total: 101</p>
</div>

<!-- <p *ngFor="let caracter of caracters | async">{{ caracter.name }}</p> -->

<app-card></app-card>
<app-dropdown></app-dropdown>
<app-drawer></app-drawer>

<div class="mt-24 mb-24">
  <app-button>load more cards</app-button>
</div>

<footer class="d-flex-center gap-16 d-flex-column">
  <div class="footer-links">

    <a href="https://www.linkedin.com/in/lucaslessa7/" target="_blank">
      <app-small-button>
        <img class="icon" src="assets/icons/linkedin.svg" alt="linkedin icon">
      </app-small-button>
    </a>

    <a href="https://www.behance.net/lucaslessa2" target="_blank">
      <app-small-button>
        <img class="icon" src="assets/icons/behance.svg" alt="behance icon">
      </app-small-button>
    </a>

    <a href="https://github.com/lessa-portfolio" target="_blank">
      <app-small-button>
        <img class="icon" src="assets/icons/github.svg" alt="github icon">
      </app-small-button>
    </a>

    <a href="https://www.instagram.com/lucas.lessa14/" target="_blank">
      <app-small-button>
        <img class="icon" src="assets/icons/instagram.svg" alt="instagram icon">
      </app-small-button>
    </a>
  </div>

  <span class="author">created by: <a href="https://www.instagram.com/lucas.lessa14/" target="_blank">@lucas.lessa14</a></span>
</footer>
