<rm-header></rm-header>

<div id="main-container" class="d-flex d-flex-center d-flex-column w-100 m-auto">
  <section class="d-flex d-flex-center d-flex-wrap gap-16">
    <div class="d-flex d-flex-space-between w-100">
      <p>results:</p>
      <p>total: {{ (info$ | async)?.count }}</p>
    </div>

    <div class="card-container" *ngFor="let character of (characters$ | async)">
      <app-card class="d-block w-100" [caracter]="character"></app-card>
    </div>

    <div class="d-flex d-flex-center mt-16 mb-24 w-100">
      <app-button *ngIf="(info$ | async)?.next !== null" class="btn-load-more w-100" (click)="clickOnLoadMoreButton()"
      >load more cards</app-button>
    </div>
  </section>
</div>

<rm-footer></rm-footer>

<!-- <app-dropdown></app-dropdown> -->
<!-- <app-drawer></app-drawer> -->
