.header__logo {
  max-width: 285px;
}

.footer-links {
  width: 100%;
  max-width: 288px;
  display: flex;
  justify-content: space-between;
}

.card-container {
  width: calc(50% - 8px);
}

.author {
  color: #CEE5AD;
  font-size: 12px;

  a { color: #CEE5AD }
}


