* {
  font-family: 'Imprima', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // background-image: url('assets/universe.png'), linear-gradient(to bottom, #000000, #000000);
  // background-repeat: no-repeat;
  // background-size: 100%, 100vh;
  // background-position: center top;
  // background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
  //                   url('assets/universe.png'),
  //                   linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  // background-repeat: repeat-y;
  // background-size: auto, auto, auto;
  // background-position: center, center, center;
  // background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
  //                   url('./assets/universe.png'),
  //                   linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
  //                   linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
  //                   linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  // background-repeat: repeat, repeat-x, repeat, repeat-y, repeat;
  // background-size: auto, auto, auto, auto, auto;
  // background-position: center, center, center, center, center;
  background-image: url('assets/universe.png');
  background-size: cover;
  background-position: center;
  padding: 0 16px 80px 16px;
}

p {
  color: #fff;
}

.d-flex { display: flex }

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex-column { flex-direction: column }
.d-flex-wrap { flex-wrap: wrap }

.d-flex-space-between {
  display: flex;
  justify-content: space-between;
}

.d-block { display: block }

.w-50 { width: 50% }
.w-100 { width: 100% }

.gap-4 { gap: 4px }
.gap-8 { gap: 8px }
.gap-16 { gap: 16px }
.gap-24 { gap: 24px }
.gap-32 { gap: 32px }

.p-12 { padding: 12px }


.mt-16 { margin-top: 16px }
.mt-24 { margin-top: 24px }

.mb-16 { margin-bottom: 16px }
.mb-24 { margin-bottom: 24px }

.m-auto { margin: auto }

.icon {
  width: 24px;
  height: 24px;
}

.text-center { text-align: center }
