* {
  font-family: 'Imprima', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./assets/universe.png');
  padding: 0 16px 80px 16px;
}

p {
  color: #fff;
}

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex-column {
  flex-direction: column;
}

.w-100 { width: 100% }

.gap-4 { gap: 4px }
.gap-8 { gap: 8px }
.gap-16 { gap: 16px }
.gap-24 { gap: 24px }
.gap-32 { gap: 32px }

.p-12 { padding: 12px }
