.btn-small {
  width: 48px;
  height: 48px;
  padding: 12px;
  flex-shrink: 0;

  border-radius: 8px;
  border: 1px solid #63BC44;
  background: rgba(18, 33, 20, 0.50);
  box-shadow: 0px 0px 8px 0px #4E823A;
  cursor: pointer;
}

.btn-small:hover {
  background: rgba(18, 33, 20, 0.1);
}
